@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --nyanza: #c5ebd6ff;
    --celadon: #83e1adff;
    --emerald: #3ddc84ff;
    --jade: #2fa866ff;
    --st-jade: #1a5c37;
    --british-racing-green: #063d1eff;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', sans-serif;
}

*{
    margin:0px;    /* Seletores para todos os elementos */
    padding: 0px;
}


body{
    background-color: var(--celadon);
    font-family: var(--fonte-padrao);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10;
}


header{
    text-align: center;
    min-height: 150px;
    padding: auto;
    background-color: var(--st-jade);
    background-image: linear-gradient(to bottom, var(--celadon), var(--british-racing-green));
}

header h1{
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    padding-top: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.521);
    color: white;
}

header p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
    color:white;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;

}

nav{
    padding: 10px;
    background-color: var(--british-racing-green);
    box-shadow: 0px 9px 6px rgba(0, 0, 0, 0.521);
}

nav > a{
    padding: 10px;
    font-family: var(--fonte-padrao);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.3s;
    color: white;
}

nav > a:hover{
    background-color: var(--emerald);
    color: var(--british-racing-green); 
}

main{
   margin: auto;
   margin-top: 15px;
   margin-bottom: 15px;
   padding: 20px;
   background-color: white;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.521);

   max-width: 1000px;
   min-width: 300px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

main h1{
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: normal;
    color: var(--st-jade);
    margin-bottom: 10px;
}

main  h2{
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--st-jade);
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 1.5em;
    background-image: linear-gradient(to right, var(--nyanza), transparent);
}   

main p{
    margin: 15px 0px;
    text-align:justify;
    text-indent: 30px;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5em;
}

main strong{
    color: var(--jade);
    font-weight: bold;
}

main a{
    text-decoration: none;
    color: var(--jade);
    font-weight: bold;
}

main a:hover{
    text-decoration: underline;
}

main img{
    width: 100%;
}

main img.pequena{
    display: block;
    margin: auto;
    max-width: 350px;
}

div.video{
    background-color:var(--british-racing-green);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
    
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--nyanza);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.521);
}

aside  h3{
    background-color: var(--jade);
    color: white;
    font-size: 1em;
    padding: auto;
    padding-top: 10px;
    padding-left: 10px;
    height: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

aside p{
    padding: 10px;
    text-align: justify;
}

aside  ul{
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    padding-left: 10px;
    columns: 2;
    font-size: 1em;
    font-weight: bold;
}

footer{
    background-color: var(--british-racing-green);
    font-weight: light;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.925);
}

footer a{
    font-family: var(--fonte-padrao);
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}